<!-- Exercise 1: simppeli ESJ-setup -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <!-- Exercise 3: Header partial -->
    <header><%- include('../partials/_header/'); %></header>
    

    <!-- Exercise 1: simple message -->
    <p><%= message %><p>


    <div class="ingredients">
        <!-- Exercise 2: list of items -->
        <ul>
            <% items.forEach(function(item) { %>
                <li><%= item %></li>
            <% }); %>
        </ul>
    </div>


    <!-- Exercise 4: kakkunappi, klikkaa nähdäksesi kakun-->
    <button id="cakeButton" class="navbutton">Näytä kakku</button>
    <% if (showImage) { %>
        <div id="imageContainer">
            <img id="dynamicImage" src="<%= imageUrl %>">
        </div>
    <% } %>

    <!-- Exercise 3: Footer partial -->
    <footer><%- include('../partials/_footer/'); %></footer>

    <!-- Exercise 4: jatkoa, skripti: näytetään kuva, jos nappia painetaan-->
    <script>
        document.getElementById('cakeButton').addEventListener('click', function() {
            const imageContainer = document.getElementById('imageContainer');
            if (imageContainer) {
                imageContainer.style.display = imageContainer.style.display === 'none';
            } else {
                const newImageContainer = document.createElement('div');
                newImageContainer.id = 'imageContainer';
                newImageContainer.innerHTML = `<img id="dynamicImage" src="<%= imageUrl %>">`;
                document.body.appendChild(newImageContainer);
            }
        });
    </script>

</body>
</html>

